body {
    font-family: Arial, sans-serif;
    background-color: #008512;
    text-align: center;
    padding: 50px;
}
button {
    padding: 10px 20px;
    background-color: #a5fe88;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}
button:hover {
    background-color: #b30000;
}